<!DOCTYPE html>
<html>
    <body>
  <div id="circularMenu1" class="circular-menu circular-menu-left active">
  
    <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
      <i class="fa fa-bars"><img src="index0.png" class="menulogo"></i>
    </a>
    <menu class="items-wrapper">
      <a href="#" class="menu-item fa fa-facebook"><img src="index.png" class="fblogo"></a>
      <a href="#" class="menu-item fa fa-linkedin"><img src="index2.png" class="linkedinlogo"></a>
      <a href="#" class="menu-item fa fa-pie-instagram"><img src="index3.png" class="twitterlogo"></a>
      <a href="#" class="menu-item fa fa-whatsapp"><img src="index4.png" class="whatsapplogo"></a>
    </menu>
  </div>
</body>
  </html>