<p>mission works!</p>
<header class="header">
	<h1 class="header-title masthead">Equestrian</h1>
</header>
<main class="main">
	<article class="entry entry-lede">
		<img class="entry-img" src="https://assets.codepen.io/467/horse02.jpg" alt="A handsome young horse in front of an expansive sky" />
		<div class="entry-content">
			<h1 class="entry-headline primary-headline">This horse sure knows how to code</h1>
			<time class="entry-date meta">January 24, 2021</time>
			<span class="entry-byline meta">by Alex Trost</span>
			<p class="entry-summary">Aliquam justo enim, mollis a justo et, sagittis vulputate turpis. Nulla facilisi. Proin quis mattis ipsum, eu eleifend dolor. Nulla auctor ex vel ipsum varius viverra. Vestibulum convallis elit nec quam bibendum varius. Morbi ut mattis dui. Aenean a massa vitae magna commodo consequat. Duis ac lacus.</p>
		</div>
	</article>
	<article class="entry">
		<img class="entry-img" src="https://assets.codepen.io/467/horse03.jpg" alt="The profile view of three majestic brown horses" />
		<h1 class="entry-headline primary-headline">Trost’s tolt trots to TypeScript</h1>
		<time class="entry-date meta">January 24, 2021</time>
		<span class="entry-byline meta">by Alex Trost</span>
		<p class="entry-summary">Cras mollis dolor vitae tellus sollicitudin, quis sagittis mauris dictum. Donec aliquet ipsum et ex pulvinar, id vestibulum lectus egestas. Vestibulum non ultrices mauris, nec elementum mauris. Donec aliquet ipsum at risus vulputate viverra.</p>
	</article>
	<article class="entry">
		<img class="entry-img" src="https://assets.codepen.io/467/horse01.jpg" alt="The profile view of three majestic brown horses" />
		<h1 class="entry-headline primary-headline">This team of three does front end magic</h1>
		<time class="entry-date meta">January 24, 2021</time>
		<span class="entry-byline meta">by Alex Trost</span>
		<p class="entry-summary">Mauris ut volutpat quam. Duis vitae turpis volutpat dolor efficitur rhoncus. Aenean lacinia est non porta dictum. Curabitur cursus mauris est, nec pharetra nisi imperdiet eget. Suspendisse non ultricies ligula.</p>
	</article>
	<section class="trending">
		<article class="trending-entry">
			<time class="trending-entry-date meta">January 24, 2021</time>
			<h1 class="trending-entry-headline primary-headline">Gallop into the amazing new world of CSS</h1>
		</article>
		<article class="trending-entry">
			<time class="trending-entry-date meta">January 24, 2021</time>
			<h1 class="trending-entry-headline primary-headline">Horse around with new HTML5 tags</h1>
		</article>
		<article class="trending-entry">
			<time class="trending-entry-date meta">January 24, 2021</time>
			<h1 class="trending-entry-headline primary-headline">Five featured fonts of front end horse</h1>
		</article>
		<article class="trending-entry">
			<time class="trending-entry-date meta">January 24, 2021</time>
			<h1 class="trending-entry-headline primary-headline">Saddle up with Rust</h1>
		</article>
	</section>
</main>
<div class="textfin">
    <h4>IT, Workplace Learning, Soft Skills Development et Technical Skills Development</h4>
</div>
<div class="logo"> 
<h1 class="logo">P-TECH</h1><h4 class="+logo">MAROC</h4>
</div>