<html>
    <body>
        
   
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            
            <div class="col-lg-6">
                <h1>Mission</h1>
                <div class="timeline p-4 block mb-4">
                    <div class="tl-item active">
                        <div class="tl-dot b-warning"></div>
                        <div class="tl-content">
                            <div class=""> <h3>A new model of public education, called P-TECH, is helping close the gap between young people’s ambitions for college and careers and the specific skills needed by employers in high-growth industries.</h3></div>

                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class=""><h3>P-TECH is a public education reform model focused on college attainment and career readiness.</h3></div>
                            
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-danger"></div>
                        <div class="tl-content">
                            <div class=""> <h3>Students participate in a range of workplace experiences, including mentorship, worksite visits and paid internships. </h3></div>
                            
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-danger"></div>
                        <div class="tl-content">
                            <div class=""> <h3>Upon graduation, students have the academic and professional skills required to either continue their education in a four-year postsecondary institution or enter into entry-level careers in IT, healthcare, advanced manufacturing and other competitive fields.</h3></div>
                            
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-danger"></div>
                        <div class="tl-content">
                            <div class=""><h3>P-TECH serves students from primarily underserved backgrounds, with no testing or grade requirements.</h3></div>
                            </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-warning"></div>
                        <div class="tl-content">
                            <div class=""><h3>P-TECH is a powerful demonstration of public-private partnership designed to help all students achieve at the highest levels.</h3> </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            
        
        </div>
    </div>
</div>
<div class="textfin"> <h4>IT, Workplace Learning, Soft Skills Development et Technical Skills Development</h4> </div> 
<div class="logo">
    <div class="logo__circle"> P-TECH</div>
    <div class="logo__text"><h3>MAROC</h3> </div>
</div>
</body>


</html>