<div class="y">
<div class="menu">
    <h1 class="title">P-TECH<span>MAROC</span></h1>
    <a routerLink="home"><h2 class="home">Home</h2></a>
    <a routerLink="interships"><h2 class="home">Interships</h2></a>
    <a routerLink="infos"><h2 class="home">Infos</h2></a>
    <a routerLink="mission"><h2 class="home">Missions</h2></a>
    <a routerLink="Contacts"><h2 class="home">Contact Us</h2></a>         
    
</div>
<div class="loginbutton">
    <a routerLink="login"><button class="login-btn">Join Us</button></a>
</div>
</div>
<router-outlet></router-outlet>
