
<section class="cards-wrapper">
  <div class="card-grid-space">
    <div class="num">01</div>
    <a class="card" href="https://www.linkedin.com/posts/abderrahmane-ibn-ghazala-p-tech_ptech-education-activity-6907719244960919553-ZfYc?utm_source=linkedin_share&utm_medium=member_desktop_web" style="--bg-img: url(/assets/images/sp3.jpg)">
      <div>
        <h1>The visit of a global leader in IBM </h1>
        <p>On March 1st, we had the honor to receive at the P-TECH school…</p>
        <div class="date">5months ago</div>
        <div class="tags">
          <div class="tag">P-TECH</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">02</div>
    <a class="card" href="https://www.linkedin.com/posts/abderrahmane-ibn-ghazala-p-tech_je-tiens-%C3%A0-remercier-efe-maroc-pour-tous-activity-6907719072411443201-aDyR?utm_source=linkedin_share&utm_medium=member_desktop_web" style="--bg-img: url('/assets/images/sp2.jpg')">
      <div>
        <h1>EFE Morocco</h1>
        <p>A session organised by EFE Morocco…</p>
        <div class="date">5months ago</div>
        <div class="tags">
          <div class="tag">P-TECH</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">03</div>
    <a class="card" href="https://www.linkedin.com/posts/abderrahmane-ibn-ghazala-p-tech_internships2022-techforgood-activity-6951158564686057472-E53N?utm_source=linkedin_share&utm_medium=member_desktop_web" style="--bg-img: url('/assets/images/sp1.jpg')">
      <div>
        <h1>IBM internships</h1>
        <p>This week, 6 students from P-TECH Morocco started internships with IBM...</p>
        <div class="date">1month ago</div>
        <div class="tags">
          <div class="tag">P-TECH</div>
        </div>
      </div>
    </a>
  </div>
  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>
