<div class="htmlpg">
    <div class="allnews">
      <div class="blog">
        <div class="blog-img">
           <div class="sp1"></div>
        </div>
         <div class="blog-info">
             <div class="blog-info-date">
               
                <span>Abderrahmane Ben Ghazala (P-TECH)</span>
              </div>
              <h1 class="blog-tit">july 2022</h1>
              <p class="blog-text">This week, 6 students from P-TECH Morocco started internships with IBM. These are paid internships for periods going from 2 to 6 months...</p>
              <a href="https://www.linkedin.com/posts/abderrahmane-ibn-ghazala-p-tech_internships2022-techforgood-activity-6951158564686057472-E53N?utm_source=linkedin_share&utm_medium=member_desktop_web" class="blog-cta">Read more</a>
          </div>
      </div>
     
      <div class="blog">
        <div class="blog-img">
          <div class="sp2"></div>
        </div>
         <div class="blog-info">
             <div class="blog-info-date">
                
                <span>Abderrahmane Ben Ghazala (P-TECH)</span>
              </div>
              <h1 class="blog-tit">March 2022</h1>
              <p class="blog-text"> would like to thank EFE-Maroc for all its efforts to support young people in the labor market.
                thank you so much Mohammed Bennani Meziane, you touched my heart and left an impact on my world...</p>
              <a href="https://www.linkedin.com/posts/rihab-farrakh-974a0520a_je-tiens-%C3%A0-remercier-efe-maroc-pour-tous-activity-6902393054989537280-ms0Z?utm_source=linkedin_share&utm_medium=member_desktop_web" class="blog-cta">Read more</a>
          </div>
      </div>
      <div class="blog">
        <div class="blog-img">
          <div class="sp3"></div>
        </div>
         <div class="blog-info">
             <div class="blog-info-date">
               
                <span>Abderrahmane Ben Ghazala (P-TECH)</span>
              </div>
              <h1 class="blog-tit">March 2022</h1>
              <p class="blog-text">On March 1st, we had the honor to receive at the P-TECH school Justina Nixon-Saintil , VP and Global Leader of Corporate Social Responsibility & ESG at IBM, along with Sidi Ali Maelainin, CSR Regional Lead for MEA at IBM ... </p>
              <a href="https://www.linkedin.com/posts/activity-6905829870019194880-mvTb?utm_source=linkedin_share&utm_medium=member_desktop_web" class="blog-cta">Read more</a>
          </div>
      </div>
    </div>
  </div>
