<html>
    <body>
        
   
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            
            <div class="col-lg-6">
                <div class="timeline p-4 block mb-4">

                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">
                                <h3> P-TECH 9-14 School Model is a pioneering education reform initiative created by IBM, to prepare young people with the academic, technical and professional skills required for 21st Century Jobs and ongoing education. </h3>
                            </div>                      
                        </div>
                    </div>
                    
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">
                                <h3>Abderrahmane Ibn Ghazala(AIG) High School is part of the P-TECH Network, and the first iteration of the P-TECH program in Morocco. </h3>
                            </div>                      
                        </div>
                    </div>

                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">
                                <h3>It was launched in 2017, as a result of a partnership between the Ministry of Education and IBM. </h3>
                            </div>                      
                        </div>
                    </div> 
                    
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">
                                <h3> At AIG, students can earn both their high school diploma and an undergraduate degree known as BTS by following a traditional 3 years of high school and a 2-year college track.</h3>
                            </div>                      
                        </div>
                    </div> 

                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">
                                <h3>The Workplace Learning Program is an integral and important part of the overall P-TECH program at AIG.</h3>
                            </div>                      
                        </div>
                    </div> 

                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">
                                <h3> It is geared towards equipping the students with both technical and academic skills relevant to future job markets. </h3>
                            </div>                      
                        </div>
                    </div> 

                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">
                                <h3>Overall, our goal is to ensure that the students graduate with not only a degree but also with a set of skills that will position them as first in line for entry-level positions in the IT field.</h3>
                            </div>                      
                        </div>
                    </div> 

                   
                   
                    
                </div>
            </div>
            
        
        </div>
    </div>
</div>
<div class="textfin"> <h4>IT, Workplace Learning, Soft Skills Development et Technical Skills Development</h4> </div> 
<div class="logo">
    <div class="logo__circle"> P-TECH</div>
    <div class="logo__text"><h3>MAROC</h3> </div>
</div>
</body>


</html>
    
    


