<div class="cover">
  <div class="cover__content">
    <div class="top-section">
      <div class="title">
        <h1 class="title__text">P-TECH</h1>
        <div class="title__details">
          <p>MAROC</p>
          <p>2022</p>      
        </div>
      </div>
      <div class="top-section__content">

        <div class="content-preview">
          <div class="content-preview__cat">Presentation</div>
          <h3 class="content-preview__title">Abderrahmane Ibn Ghazala(AIG) High School is part of the P-TECH Network, and the first iteration of the P-TECH program in Morocco. </h3>
           </div>

        <div class="content-preview">
          <div class="content-preview__cat">What is the P-TECH program?</div>
          <h3 class="content-preview__title">In a P-TECH school, students earn a high school diploma, an industry-recognized associate degree, and gain relevant work experience in a growing field.</h3>
          </div>  
      </div>
    </div>
    
    
   

    <div class="lower-section">
      
      <div class="headline">
        <div class="line line--horizontal line--left"></div>
        <h2 class="boxed-headline">
          Specialty
        </h2>
        <div class="line line--horizontal line--right"></div>
      </div>

      <div class="line line--vertical line--top"></div>
      <div class="line line--vertical line--bottom"></div>

      <div class="spacer"></div>
      <div class="content-preview content-preview--left content-preview--top">
        <div class="content-preview__cat">DSI</div>
        <h3 class="content-preview__title">developpement systeme informatique</h3>
      </div>
      
      <div class="content-preview  content-preview--right content-preview--top">
        <div class="content-preview__cat">SRI</div>
        <h3 class="content-preview__title">systemes et reseaux informatiques</h3>
      

      
    </div>  

  </div>

</div>
<div class="textfin">
  <h4>IT, Workplace Learning, Soft Skills Development et Technical Skills Development</h4>
</div>

<div class="logo">
  <div class="logo__circle">
    P-TECH
  </div>
  <h3 class="logo__text">MAROC</h3>

  
