<div class="text">
<div class="text0">
    <h3>En quoi consiste le programme P-TECH ?</h3>
</div>
<div class="text1">
    <h4>Dans une école P-TECH, les étudiants obtiennent un diplôme d'études secondaires, un diplôme d'associé reconnu
        par l'industrie,</h4>
</div>
<div class="text2">
    <h4> et acquièrent une expérience professionnelle pertinente dans un domaine en pleine expansion.</h4>
</div>


<h4 class="apropos">Abderrahmane Ibn Ghazala(AIG) High School is part of the P-TECH Network, and the first iteration of
    the P-TECH program in Morocco.
    It was launched in 2017, as a result of a partnership between the Ministry of Education and IBM.
    At AIG, students can earn both their high school diploma and an undergraduate degree known as BTS by following a
    traditional 3 years of high school and a 2-year college track.
    The Workplace Learning Program is an integral and important part of the overall P-TECH program at AIG. It is geared
    towards equipping the students with both technical and academic skills relevant to future job markets.
    Overall, our goal is to ensure that the students graduate with not only
    a degree but also with a set of skills that will position them as first in line for entry-level positions in the IT
    field.</h4>
</div>