<div class="kolchi"> 
    <h1> P-TECH Summer internships </h1>
</div>
<h1> Internships Goals </h1>
    <div class="goals">
        <h3> Increase their technical skills </h3>
        <h3> Learn the value of professional (soft) skills as much as the hard skills (the work tasks) </h3>
        <h3> understand what it's like to work in a professional environment</h3>
    </div>

<h1> The Interns </h1>
    <div class="interns">
        <h2> Years level </h2>
            <h3>1st year BTS students ( 4th year of P-TECH) </h3>
        <h2> Specialty</h2>
            <h3> Developpementb systeme informatique</h3>    
            <h3> Systemes et reseaux informatiques </h3>
        <h2>Eligibility criteria</h2>
            <h3> Enrollment in BTS classes at P-TECH Ibn Ghazala </h3>
    </div>

    <div class="textfin">
        <h4>IT, Workplace Learning, Soft Skills Development et Technical Skills Development</h4>
    </div>
    
    <h1 class="logo">P-TECH</h1><h4 class="+logo">MAROC</h4>
    
    


