<div class="screen">
<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Internships Goals</h3>
		<p>
            Increase their technical skills
            Learn the value of professional (soft) skills as much as the hard skills (the work tasks)
            understand what it's like to work in a professional environment
		</p>
		<button>Read more</button>
	</li>
	<li>
		<h2>02</h2>
		<h3>Years level</h3>
		<p>
			1st year BTS students ( 4th year of P-TECH) 
		</p>
		<button>Read more</button>
	</li>
	<li>
		<h2>03</h2>
		<h3>Specialty</h3>
		<p>
			Developpement systeme informatique
		</p>
        <p>
            Systemes et reseaux informatiques

        </p>
		<button>Read more</button>
	</li>
</ul>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	<!-- Stagiaire Name Column -->
	<ng-container matColumnDef="name">
	  <th mat-header-cell *matHeaderCellDef> Name </th>
	  <td mat-cell *matCellDef="let element"> {{element.fname + ' ' + element.lname}} </td>
	</ng-container>
   <!-- Stagiaire Email Column -->
	<ng-container matColumnDef="email">
		<th mat-header-cell *matHeaderCellDef> Email </th>
		<td mat-cell *matCellDef="let element"> {{element.email}} </td>
	</ng-container>
       <!-- Encadrant Name Column -->
	<ng-container matColumnDef="encadrant">
		<th mat-header-cell *matHeaderCellDef> Encadrant </th>
		<td mat-cell *matCellDef="let element"> {{element.encad}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>