.goals{
    color: black;
}
h1{
    color:blue;
    display: flex;
    justify-content: center;
}
h2{
    color: rgb(231, 133, 21);
    margin-left: 50px;
    
}
.kolchi{
    margin-bottom: 50px;
    color: aqua;
}