.goals{
    color: black;
}
h1{
    color:blue;
    display: flex;
    justify-content: center;
}
h2{
    color: rgb(231, 133, 21);
    margin-left: 50px;
    
}
.kolchi{
    margin-bottom: 50px;
 
}
.textfin{
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: blue;
    
}
.logo{
    color:rgb(0, 17, 255);
   display: flex;
   justify-content: center;
   font-family: 'Josefin Sans', sans-serif;

}
h4{
    color: aliceblue;
}
